# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class
*.so

# Environment Variables & Secrets
.env
credentials/*.json
!credentials/.gitkeep

# Executables & Build Residue
dist/
build/
*.exe
*.spec

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
